body {
	font-family: arial;
	font-size: 30px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
}

.button {
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
}

#container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 10px;
}

#calculator {
	width: 400px;
	height: 600px;
	border: 2px solid black;
	border-radius: 20px;
	background-color: purple;
	margin: 0 auto;
	padding: 20px;
}

#calculator * {
	width: 380px;
	margin: 0 auto;
	background-color: whitesmoke;
	border-radius: 10px;
}

#screen {
	/*width: 380px;*/
	height: 140px;
	/*border: 2px solid green;*/
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 140px;
}

#all-btns {
	width: 380px;
	height: auto;
	margin: 0 auto;
}

#small-btns {
	/*width: 380px;*/
	height: auto;
	/*margin: 0 auto;*/
}

#small-btns * {
	width: 60px;
	height: 70px;
	/*border: 1px solid blue;*/
	float: left;
	margin: 10px 7px;
}

#clear {
	width: 380px;
	height: 100px;
	margin: 20px auto;
	/*border: 1px solid red;*/
	float: left;
}


